<!DOCTYPE html>
<html>
<head>
  <title>NinetyNineCatsDay1</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <% if current_user %>
  <ul>
    <li>Logged in as: <%= current_user.username %></li>
    <li>
      <form action="<%= sessions_url %>" method="POST">
        <input type="hidden"
               name="authenticity_token"
               value="<%= form_authenticity_token %>">
        <input type="hidden" value="delete" name="_method" />
        <input type="submit" value="Logout" />
      </form>
    </li>
  </ul>
<% else %>
<ul>
  <li>Log in:</li>
  <li>
    <form action="<%= sessions_url %>" method="post">
      <input type="hidden"
             name="authenticity_token"
             value="<%= form_authenticity_token %>">
      Username:<input type="text" name="username" >
      <br>
      Password:<input type="text" name="password" >
      <input type="submit" value='Login'>
    </form>

  </li>
  <li> <%= button_to "Meow Up", new_user_path, :method => "get" %>
    <!-- should be link to? -->
</ul>
<% end %>
</head>
<body>

<%= yield %>

</body>
</html>
